In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [5]:
Data = pd.read_csv('CarsPrice.csv',sep=",")
Data

,make,fuel,doors,body,drive,weight,engine-size,bhp,mpg,price
0,alfa-romero,unleaded,two,convertible,rwd,2548,130,111.0,27,13495.0
1,alfa-romero,unleaded,two,convertible,rwd,2548,130,111.0,27,16500.0
2,alfa-romero,unleaded,two,hatchback,rwd,2823,152,154.0,26,16500.0
3,audi,unleaded,four,saloon,fwd,2337,109,102.0,30,13950.0
4,audi,unleaded,four,saloon,4wd,2824,136,115.0,22,17450.0
...,...,...,...,...,...,...,...,...,...,...
200,volvo,unleaded,four,saloon,rwd,2952,141,114.0,28,16845.0
201,volvo,unleaded,four,saloon,rwd,3049,141,160.0,25,19045.0
202,volvo,unleaded,four,saloon,rwd,3012,173,134.0,23,21485.0
203,volvo,diesel,four,saloon,rwd,3217,145,106.0,27,22470.0
204,volvo,unleaded,four,saloon,rwd,3062,141,114.0,25,22625.0

In [4]:
Data1 = pd.get_dummies(Data)
Data1

,weight,engine-size,bhp,mpg,price,make_alfa-romero,make_audi,make_bmw,make_chevrolet,make_dodge,...,doors_four,doors_two,body_convertible,body_hardtop,body_hatchback,body_saloon,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,2548,130,111.0,27,13495.0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
1,2548,130,111.0,27,16500.0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
2,2823,152,154.0,26,16500.0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,2337,109,102.0,30,13950.0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,1,0
4,2824,136,115.0,22,17450.0,0,1,0,0,0,...,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2952,141,114.0,28,16845.0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
201,3049,141,160.0,25,19045.0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
202,3012,173,134.0,23,21485.0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
203,3217,145,106.0,27,22470.0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
204,3062,141,114.0,25,22625.0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1

In [6]:
Data1 = Data.dropna()
Data1.doors = Data1.doors.replace({'four': 4})
Data1.doors = Data1.doors.replace({'two': 2})
Data1

C:\Users\PC\AppData\Local\Temp\ipykernel_19360\941485156.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1.doors = Data1.doors.replace({'four': 4})
C:\Users\PC\AppData\Local\Temp\ipykernel_19360\941485156.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1.doors = Data1.doors.replace({'two': 2})

,make,fuel,doors,body,drive,weight,engine-size,bhp,mpg,price
0,alfa-romero,unleaded,2,convertible,rwd,2548,130,111.0,27,13495.0
1,alfa-romero,unleaded,2,convertible,rwd,2548,130,111.0,27,16500.0
2,alfa-romero,unleaded,2,hatchback,rwd,2823,152,154.0,26,16500.0
3,audi,unleaded,4,saloon,fwd,2337,109,102.0,30,13950.0
4,audi,unleaded,4,saloon,4wd,2824,136,115.0,22,17450.0
...,...,...,...,...,...,...,...,...,...,...
200,volvo,unleaded,4,saloon,rwd,2952,141,114.0,28,16845.0
201,volvo,unleaded,4,saloon,rwd,3049,141,160.0,25,19045.0
202,volvo,unleaded,4,saloon,rwd,3012,173,134.0,23,21485.0
203,volvo,diesel,4,saloon,rwd,3217,145,106.0,27,22470.0
204,volvo,unleaded,4,saloon,rwd,3062,141,114.0,25,22625.0

In [96]:
test = ['alfa-romero', 'unleaded', 2, 'convertible', 'rwd', 2548, 130, 111, 27]
test = np.array(test)
test = pd.DataFrame(test.reshape(-1, len(test)))
test1 = pd.get_dummies(test)
test1

,0_alfa-romero,1_unleaded,2_2,3_convertible,4_rwd,5_2548,6_130,7_111,8_27
0,1,1,1,1,1,1,1,1,1

In [7]:
Data1 = pd.get_dummies(Data)
Data1

,weight,engine-size,bhp,mpg,price,make_alfa-romero,make_audi,make_bmw,make_chevrolet,make_dodge,...,doors_four,doors_two,body_convertible,body_hardtop,body_hatchback,body_saloon,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,2548,130,111.0,27,13495.0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
1,2548,130,111.0,27,16500.0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
2,2823,152,154.0,26,16500.0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,2337,109,102.0,30,13950.0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,1,0
4,2824,136,115.0,22,17450.0,0,1,0,0,0,...,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2952,141,114.0,28,16845.0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
201,3049,141,160.0,25,19045.0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
202,3012,173,134.0,23,21485.0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
203,3217,145,106.0,27,22470.0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
204,3062,141,114.0,25,22625.0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1

In [8]:
Data1 = Data.dropna()
Data1.doors = Data1.doors.replace({'four': 4})
Data1.doors = Data1.doors.replace({'two': 2})

C:\Users\PC\AppData\Local\Temp\ipykernel_19360\3882767087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1.doors = Data1.doors.replace({'four': 4})
C:\Users\PC\AppData\Local\Temp\ipykernel_19360\3882767087.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1.doors = Data1.doors.replace({'two': 2})

In [8]:
Data1

,make,fuel,doors,body,drive,weight,engine-size,bhp,mpg,price
0,alfa-romero,unleaded,2,convertible,rwd,2548,130,111.0,27,13495.0
1,alfa-romero,unleaded,2,convertible,rwd,2548,130,111.0,27,16500.0
2,alfa-romero,unleaded,2,hatchback,rwd,2823,152,154.0,26,16500.0
3,audi,unleaded,4,saloon,fwd,2337,109,102.0,30,13950.0
4,audi,unleaded,4,saloon,4wd,2824,136,115.0,22,17450.0
...,...,...,...,...,...,...,...,...,...,...
200,volvo,unleaded,4,saloon,rwd,2952,141,114.0,28,16845.0
201,volvo,unleaded,4,saloon,rwd,3049,141,160.0,25,19045.0
202,volvo,unleaded,4,saloon,rwd,3012,173,134.0,23,21485.0
203,volvo,diesel,4,saloon,rwd,3217,145,106.0,27,22470.0
204,volvo,unleaded,4,saloon,rwd,3062,141,114.0,25,22625.0

In [9]:
Data1 = pd.get_dummies(Data1)

In [10]:
Data1

,doors,weight,engine-size,bhp,mpg,price,make_alfa-romero,make_audi,make_bmw,make_chevrolet,...,fuel_diesel,fuel_unleaded,body_convertible,body_hardtop,body_hatchback,body_saloon,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,2,2548,130,111.0,27,13495.0,1,0,0,0,...,0,1,1,0,0,0,0,0,0,1
1,2,2548,130,111.0,27,16500.0,1,0,0,0,...,0,1,1,0,0,0,0,0,0,1
2,2,2823,152,154.0,26,16500.0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,4,2337,109,102.0,30,13950.0,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0
4,4,2824,136,115.0,22,17450.0,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,4,2952,141,114.0,28,16845.0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
201,4,3049,141,160.0,25,19045.0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
202,4,3012,173,134.0,23,21485.0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
203,4,3217,145,106.0,27,22470.0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
204,4,3062,141,114.0,25,22625.0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1

In [11]:
X = Data1.drop("price", axis='columns')
Y = Data1.price

In [14]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2)

In [16]:
refressor  = LinearRegression()
refressor.fit(X_train,Y_train)

LinearRegression()

In [102]:
test = [np.concatenate([[2, 2260, 170, 110,], make[:,0], fuel[:,1], body[:,2], drive[:,0]])]

In [ ]:
dataframe=pd.DataFrame(e, columns=['a'])

In [103]:
refressor.predict(test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([13635.4260508])

In [70]:
make = pd.get_dummies(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo']).to_numpy()
fuel = pd.get_dummies(['unleaded', 'diesel']).to_numpy()
body = pd.get_dummies(['convertible', 'hatchback', 'saloon', 'wagon', 'hardtop']).to_numpy()
drive = pd.get_dummies(['rwd', 'fwd', '4wd']).to_numpy()
make[:,0]

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=uint8)

In [68]:
Data.drive.unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [88]:
Data1

,doors,weight,engine-size,bhp,mpg,price,make_alfa-romero,make_audi,make_bmw,make_chevrolet,...,fuel_diesel,fuel_unleaded,body_convertible,body_hardtop,body_hatchback,body_saloon,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,2,2548,130,111.0,27,13495.0,1,0,0,0,...,0,1,1,0,0,0,0,0,0,1
1,2,2548,130,111.0,27,16500.0,1,0,0,0,...,0,1,1,0,0,0,0,0,0,1
2,2,2823,152,154.0,26,16500.0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,4,2337,109,102.0,30,13950.0,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0
4,4,2824,136,115.0,22,17450.0,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,4,2952,141,114.0,28,16845.0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
201,4,3049,141,160.0,25,19045.0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
202,4,3012,173,134.0,23,21485.0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
203,4,3217,145,106.0,27,22470.0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
204,4,3062,141,114.0,25,22625.0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1